@page "/EditStudent/{id}"
@using Crud_Blazor.Data
@inject ClgStudentDetailsService studentService
@inject NavigationManager  NavigationManager

<EditForm Model="@obj" OnValidSubmit="HandleValidSubmit" OnInvalidSubmit="HandleInValidSubmit">
    <DataAnnotationsValidator />
    <h3>@obj.FirstName</h3>
    <hr />
    <div class="form-group row">
        <label for="firstName" class="col-sm-2 col-form-label">
            First Name
        </label>
        <div class="col-sm-10">
            <InputText id="firstName" class="form-control" required="true"
                       @bind-Value="obj.FirstName" />
            <ValidationMessage For="@(() => obj.FirstName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="lastName" class="col-sm-2 col-form-label">
            Last Name
        </label>
        <div class="col-sm-10">
            <InputText id="lastName" class="form-control" required="true"
                       @bind-Value="obj.LastName" />
            <ValidationMessage For="@(() => obj.LastName)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">
            Email
        </label>
        <div class="col-sm-10">
            <InputText id="email" class="form-control" required="true"
                       @bind-Value="obj.Gmail" />
            <ValidationMessage For="@(() => obj.Gmail)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="Programming" class="col-sm-2 col-form-label">
            Programming Language
        </label>
        <div class="col-sm-10">
            <InputText id="Programming" class="form-control" required="true"
                       @bind-Value="obj.ProgrammingLanguage" />
            <ValidationMessage For="@(() => obj.ProgrammingLanguage)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="gender" class="col-sm-2 col-form-label">
            Gender
        </label>
        <div class="col-sm-10">
            <InputText id="gender " class="form-control" required="true"
                       @bind-Value="obj.Gender" />
            <ValidationMessage For="@(() => obj.Gender)" />
        </div>
    </div>

    <div class="form-group row">
        <label for="Address" class="col-sm-2 col-form-label">
            Address
        </label>
        <div class="col-sm-10">
            <InputText id="Address " class="form-control" required="true"
                       @bind-Value="obj.City" />
            <ValidationMessage For="@(() => obj.City)" />
        </div>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" @onsubmit="@UpdateStudent" value="Update" />
        <input type="button"esesaxyb mqr class="btn btn-primary" @onclick="@Cancel" value="Cancel" />
    </div>
</EditForm>

@code {

    [Parameter]
    public string Id { get; set; }
    ClgStudentDetails obj = new ClgStudentDetails();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => studentService.GetStudentAsync(Convert.ToInt32(Id)));
    }
    protected async void UpdateStudent()
    {
        await studentService.UpdateStudentAsync(obj);
        NavigationManager.NavigateTo("Student");
    }
    private void HandleValidSubmit()
    {
        System.Diagnostics.Debugger.Break();
        NavigationManager.NavigateTo("StudentList");
    }

    private void HandleInValidSubmit()
    {
        System.Diagnostics.Debugger.Break();
        NavigationManager.NavigateTo("Error");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("Student");
    }
}
